---

---
<div class="Preload" id="preload">
    <h2 class="Preload-title Preload-text">PabloBenito</h2>
    <div class="Preload-loaderBox">
        <span class="Preload-title Preload-text" id="count">...0%</span>
        <div class="Preload-preload">
            <div class="Preload-preload Preload-preload--loader" id="loader"></div>
        </div>
    </div>
</div>
<script>
    let count = 0;
    const $loader = document.querySelector('#loader') as HTMLElement,
    $count = document.querySelector('#count') as HTMLElement,
    $preloader = document.querySelector('#preload') as HTMLElement;

    function animation(){
        let request;
        document.body.style.overflow = 'hidden'
        function animationPreload(){
            count++
            $count.innerText = `...${count}%`
            $loader.style.width = `${count}%`;
            request = requestAnimationFrame(animationPreload);
            if(count === 100) {
                cancelAnimationFrame(request);
                document.body.removeAttribute('style');
                $preloader.classList.add('isHidden');
            }
        }
        requestAnimationFrame(animationPreload)
    }

    animation()
</script>
<style lang="scss">
    .Preload{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--color-black);
        z-index: 4;
        &-title{
            color: var(--color-white);
            font-size: clamp(2em, 5vw,5em);
            text-transform: uppercase;
            align-self: flex-end;
            margin: .9375rem;
        }
        &-text{
            line-height: 100%;
        }
        &-preload{
            width: 100%;
            height: .9375rem;
            background-color: rgba(236, 236, 236, 0.055);
            &--loader{
                width: 35%;
                background-color: var(--color-white);
            }
        }
    }

    @keyframes loader {
        from{
            opacity: 1;
            top: 0;
        }
        to{
            opacity: 0;
            top: -100%;
        }
    }

    .isHidden{
        opacity: 0;
        top: -100%;
        animation: loader .3s 1 linear;
    }
</style>