---

---
<header class="Header" id="home">
    <div class="Header-content Header-titles">
        <h1 class="Header-text Header-title">PABL<span class="isRed">✦</span>BENIT<span class="isRed">✦</span></h1>
    </div>
</header>
<style lang="scss">
    .Header{
        background-color: var(--color-white);
        padding: .9375rem var(--padding);
        overflow: hidden;
        &-text{
            line-height: 100%;
            color: var(--color-black);
        }
        &-title{
            font-size: 11.7vw;
            text-align: center;
            display: flex;
            @media screen and (max-width: 25rem) {
                font-size: 11vw;
            }
        }
    }
</style>