---

---
<header class="Header" id="home">
    <div class="Header-content Header-titles">
        <h1 class="Header-text Header-title">PABL<span class="isRed">✦</span>BENIT<span class="isRed">✦</span></h1>
    </div>
</header>
<style lang="scss">
    .Header{
        background-color: var(--color-white);
        padding: .9375rem var(--padding);
        overflow: hidden;
        max-width: var(--max-width);
        margin: auto;
        &-text{
            line-height: 100%;
            color: var(--color-black);
        }
        &-title{
            font-size: clamp(2em, 11vw, 14em);
        }
        &-titles{
            display: flex;
            justify-content: center;
        }
    }
</style>