---
import Title from '../../components/Title.astro'
import ProjectsModule from './ProjectsModule.astro';
---
<section class="Projects" id="projects">
    <Title>Pr<span class="isRed">✦</span>jects</Title>
	<ProjectsModule />
</section>  
<script>
    const options = {
		root: null,
		rootMargin: '0px',
		threshold: 0.1
	}
	const target = document.querySelector('#projects') as HTMLElement;

	function call(entries: any, observer: any){
		entries.forEach((elem: any) => {
			elem.isIntersecting 
            ? document.body.classList.add('dark-mode')
			: document.body.classList.remove('dark-mode');
		})
	}

	const observer = new IntersectionObserver(call, options);
	observer.observe(target);
</script>
<style lang="scss">
    .Projects{
        background-color: var(--color-white);
        padding: var(--padding);
		max-width: var(--max-width);
		margin: auto;
    }
</style>