---

---
<div class="ProjectLayout">
    <slot />
</div>
<style lang='scss'>
    .ProjectLayout{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        gap: 2.1875rem;
        margin: var(--padding) 0 0 0;
    }
</style>