---
import Layout from '../layouts/Layout.astro';
import Nav from '../module/Nav/Nav.astro';
import Header from '../module/Home/Header.astro'
import About from '../module/About/About.astro';
import Projects from '../module/Projects/Projects.astro';
import Contact from '../module/Contact/Contact.astro';
import Footer from '../module/Footer/Footer.astro';
---
<Layout title="Portfolio | Pablo Benito">
	<Nav />
	<main class="Main">
		<Header />
		<About />
		<Projects />
		<Contact />
	</main>
</Layout>
<style>
	.Main{
		padding: var(--nav-size) 0 0 0;
	}
</style>
