---
import SocialGroup from "./SocialGroup.astro";
import saturn from '../../assets/images/saturn.webp';
---
<section class="About" id="about">   
    <div class="About-content About-spacing">
        <div>
            <h2 class="About-text About-title">Front-End Developer</h2>
            <p class="About-text About-bio">I'm Pablo Benito, Computer Technician and Front-End developer from Buenos Aires, Argentina. I love developing user interfaces with Vue and TypeScript.</p>
        </div>
        <SocialGroup />
    </div>
    <div class="About-content">
        <img 
        src={saturn} 
        alt="saturn photo"
        class="About-image">
    </div>
</section>
<style lang="scss">
    .About{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(25rem, 100%), 1fr));
        grid-auto-rows: auto;
        gap: .9375rem;
        background-color: var(--color-white);
        padding: var(--padding);
        &-title{
            font-size: 3vw;
            margin: 0 0 .3125rem 0;
            text-transform: uppercase;
            @media screen and (max-width: 850px) {
                font-size: 6vw;
            }
        }
        &-bio{
            font-family: var(--secundary);
            color: var(--color-grey);
            font-size: clamp(1em, 2vw, 2vw);
        }
        &-text{
            line-height: 100%;
        }
        &-image{
            max-height: 43.75rem;
        }
        &-spacing{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1.25rem;
        }
    }
</style>