<h3 class="Title">
    <slot />
</h3>
<style lang="scss">
    .Title{
        font-size: clamp(3.5em, 10vw, 10vw);
        color: var(--color-black);
        text-align: center;
        line-height: 100%;
        background-color: transparent;
    }
</style>