---
import Title from '../../components/Title.astro';
import mail from '../../assets/images/benitopab@gmail.com.png';
import SocialLink from '../../components/Contact/SocialLink.astro';
import type { Social } from '../../entities/Social';
import { social } from '../../consts/Social';
---
<section class="Contact" id="contact"> 
    <div class="Contact-content">
        <Title>C<span class="isRed">✦</span>ntact</Title>
        <div class="Contact-contact">
            { social.map((elem: Social) => ( <SocialLink title={elem.title} link={elem.link}/> )) }
        </div>
    </div>
    <div class="Contact-mail">
        <div class="Contact-animate">
            <a href="mailto:benitopab@gmail.com" class="Contact-email Contact-text isArchor">benitopab@gmail.com✦</a>
            <a href="mailto:benitopab@gmail.com" class="Contact-email Contact-text isArchor">benitopab@gmail.com✦</a>
            <a href="mailto:benitopab@gmail.com" class="Contact-email Contact-text isArchor">benitopab@gmail.com✦</a>
            <a href="mailto:benitopab@gmail.com" class="Contact-email Contact-text isArchor">benitopab@gmail.com✦</a>
            <a href="mailto:benitopab@gmail.com" class="Contact-email Contact-text isArchor">benitopab@gmail.com✦</a>
        </div>
    </div>
</section>  
<script>
    function animateMail(speed: number){
        const windowWidth = window.innerWidth;
        const container = document.querySelector('.Contact-animate') as HTMLDivElement;
        const containerChildren = document.querySelectorAll('.isArchor') as NodeListOf<HTMLAnchorElement>;
        const containerWidth = containerChildren[0].clientWidth * containerChildren.length - 1;
        const diferenceContainerAndWindow = containerWidth - windowWidth;
        let pos = 1;

        function animation(){
            container.style.transform = `translateX(-${pos += speed}px)`;
            if(pos >= diferenceContainerAndWindow + 20) pos = 1;
            requestAnimationFrame(animation);
        }
        requestAnimationFrame(animation)
    }

    animateMail(3);
    
</script>
<style lang="scss">
    .Contact{
        background-color: var(--color-white);
        &-content{
            padding: var(--padding);
            max-width: var(--max-width);
            margin: auto;
        }
        &-title{
            font-size: clamp(1em, 5vw, 5em);
        }
        &-mail{
            overflow: hidden;
        }
        &-animate{
            display: flex;
            align-items: baseline;
            flex-wrap: nowrap;
        }
        &-email{
            line-height: 100%;
            font-size: clamp(5em, 12vw,12em);
            white-space: nowrap;
            // margin: var(--padding) 0 0 0;
            text-transform: uppercase;
            &:hover{
                color: var(--color-secundary);
            }
        }
    }
</style>